.hello
  -webkit-user-select: none
  cursor: default
  color: #FFFFFF
body
  margin: 0
  height: 100vh

.test
  width: 10px
  display: inline-block
  font:
    family: monospace
    size: 16px
.line
  display: flex
  border-top: 1px solid #606060
  border-bottom: 1px solid #404040
.item
  font:
    size: 12px
  line-height: 18px
.collapsible
  cursor: pointer

#app
  height: 100%

.v-split
  display: flex
  flex-direction: column
  height: 100%
.h-split
  display: flex
  flex-direction: row
  flex: 1
.content
  flex: 1
  border-right: 1px solid #000
.sidebar
  display: flex
  flex-direction: column
  padding: 1px

  //border: 1px solid #000
  background: #484848
  width: 300px
  font:
    family: sans-serif
  .header
    background: #333
    padding: 2px
    color: #fff
    font-size: 12px
    border-top: 1px solid #505050
    border-bottom: 1px solid #111
  .group
    border: 1px solid #222
    flex: 1
    margin-bottom: 1px

.toolbar
  background: #484848
  height: 48px
  border-bottom: 1px solid #000
  line-height: 48px

button
  border: 1px solid #222
  background: #505050
  height: 40px
  width: 40px
  margin-left: 5px
  border-radius: 3px
  outline: none
.attributes
  color: #FFFFFF
  font:
    size: 12px
  padding: 4px
  p
    margin-left: 2px
  input
    background: #333
    border: 1px solid #505050
    border-radius: 3px
    width: 50px
    color: #fff
    height: 14px
    font-size: 12px
    text-align: right
    padding-right: 3px
    &[type="range"]
      vertical-align: bottom

input[type=range]
  margin: 0
  //height: 16px
  padding: 1px
  -webkit-appearance: none /* Hides the slider so that custom slider can be made */
  //width: 100% /* Specific width is required for Firefox. */


input[type=range]::-webkit-slider-thumb
  -webkit-appearance: none


input[type=range]:focus
  outline: none /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */

input[type=range]::-webkit-slider-thumb
  -webkit-appearance: none
  border: 1px solid #222
  height: 14px
  width: 6px
  border-radius: 3px
  background: #505050
  cursor: pointer
  //margin-top: -14px /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
